.header{
    padding: 20px;
    height: 600px;
    background: url(virat\ kohli1.jpg);
    position: relative;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: yellowgreen;
    border-style: ridge;
}
.bio:hover{
    transform:scale(1.1,1.1);
}
.achieve:hover{
    transform:scale(1.1,1.1);
}
ul{
    display: flex;
    justify-content: center;
    align-content: center;
}
ul li{
    list-style: none;
    
}
ul li a{
    text-transform: uppercase;
    font-size: 30px;
    color:black;
    letter-spacing: 2px;
    padding: 10px ;
}
ul li a:hover{
    border-bottom: 3px solid burlywood;
    background: linear-gradient( 
        to right,#d169fa,#f07171, #e911a1
        ); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}
.title{
    text-transform:initial;
    display: flex;
    justify-content: center;
    align-content:center ;
    background: linear-gradient( 
        to right,#ebfa69,#f07171, #e9da11
        ); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}
.bio1{
    background:linear-gradient(#88c592,#08e926);
    border: rgb(2, 2, 2);
    border-style:dotted ;
}
.bio2{
    background:conic-gradient(#e622ae,#a822e6,#5a22e6);
    border: black;
    border-style: dotted;
}
.achieve{
    background:radial-gradient(#88c592,#08e926,#0e471a);
    border: black;
    border-style: dotted;
}
h2 a{
    background: linear-gradient( 
            to left,#d80a0a, 
            #e26374); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}
div{
    color: rgba(245, 245, 245, 0.712);
    text-align:left;
}
 .name{
   
   position: relative;
   top: 400px;
}
#vi{
    background: linear-gradient( 
            to bottom right,#4a192b, #a12d8d, 
            #e88bd8); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}
p{
    background: linear-gradient( 
            to right,#060c58, 
            #3656be); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}
li{
    background: linear-gradient( 
            to right,#060c58, 
            #3656be); 
    -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text;
}